PORT = 
RABBIT_MQ_URL =
DATABASE_DIALECT = 

DATABASE_NAME =  

DATABASE_USERNAME =
DATABASE_PASSWORD=
DATABASE_PORT = 
DATABASE_HOST = 

SERVICE_CONNECTION_TIMEOUT =
ENVIRONMENT = 
NODE_ENV =
NODE_TLS_REJECT_UNAUTHORIZED=

REDIS_URL=

# Africa's Talking SMS
AT_API_KEY=
AT_USERNAME=
